In [2]:
#3.1
import math
f= eval(input("Enter the temprature in Farenhite"))
c=5/9*(f-32)
print("the temprature in celcius is:",c)

Enter the temprature in Farenhite45
the temprature in celcius is: 7.222222222222222

In [3]:
#3.2
#(a)
age=int(input("enter the age:"))
if age>62:
    print("You can get pension benefits")

#(b)
name=str(input("Enter a name: "))
lst=['Musial', 'Aaraon', 'Williams', 'Gehrig', 'Ruth']
if name in lst:
    print("One of the top 5 baseball players, ever!")

#(c)
hit=int(input("enter the hit:"))
sheild=int(input("enter the sheild:"))
if hit>10 and sheild==0:
    print("You are dead")

enter the age:76
You can get pension benefits
Enter a name: Gehrig
One of the top 5 baseball players, ever!
enter the hit:11
enter the sheild:0
You are dead

In [6]:
#3.3
#(a)
year=int(input("Enter a year: "))
if year//4:
    print("could be a leap year")
else:
    print("definetly not a leap year")
    

#(b)
lst_ticket=[1,3,4,6,8]
lst_lottery=[1,3,4,6,8]
if lst_ticket==lst_lottery:
    print("Yo won !")
else:
    print("Better luck next time")

Enter a year: 2000
could be a leap year
Yo won !

In [9]:
#3.4
login_id=str(input("Enter a login id: "))
lst=['ahmed','akbar','amna','aisha']
if login_id in lst:
    print("You are in")
else:
    print("UNKNOWN")
print("Done")

Enter a login id: ahmed
You are in
Done

In [10]:
#3.5
word_lst=['amna','ramin','noor','alisha']
for word in word_lst:
    if len(word)==4:
        print(word)

amna
noor

In [11]:
#3.6
#(a)
for i in range(10):
    print(i)

#(b)
for i in range(2):
    print(i)

0
1
2
3
4
5
6
7
8
9
0
1

In [12]:
#3.7
#(a)
for i in range(3,13):
    print(i)
    
    
#(b)
for i in range(0,10,2):
    print(i)
    
#c
for i in range(0,24,3):
    print(i)
    
    
#d
for i in range(3,12,5):
    print(i)

3
4
5
6
7
8
9
10
11
12
0
2
4
6
8
0
3
6
9
12
15
18
21
3
8

In [14]:
#3.8
from math import pi
def parameter(radius):
    return (2*pi*radius)
print("parameter is: ",parameter(5),"cm")

parameter is:  31.41592653589793 cm

In [15]:
#3.9
def average(x,y):
    return ((x+y)/2)
print("the average is: ",average(5,8))

the average is:  6.5

In [17]:
#3.10
def noVowel(s):
    for c in s:
        if c in 'aeiouAEIOU':
            return ("False")
        else:
            return ("true")

noVowel('crs')

'true'

In [21]:
#3.11
def allEven():
    num_lst=[2,4,6,8]
    for num in num_lst:
        if num%2 !=0:
            return ('false')
        else:
            return ('true')
allEven()

'true'

In [22]:
#3.12
def negatives():
    lst=[3,2,-1,-4,0]
    for i in lst:
        if i<0:
            print(i)
negatives()

-1
-4

In [25]:
#3.15
team = ['Ava', 'Eleanor', 'Clare', 'Sarah']
team[0],team[-1]=team[-1],team[0]
print (team)

['Sarah', 'Eleanor', 'Clare', 'Ava']

In [27]:
#3.16
def swapFL():
    ingredients=['flour', 'sugar', 'butter', 'apples']
    print("Original list",ingredients)
    ingredients[-1],ingredients[0]=ingredients[0],ingredients[-1]
    print("Swapped list",ingredients)
swapFL()

Original list ['flour', 'sugar', 'butter', 'apples']
Swapped list ['apples', 'sugar', 'butter', 'flour']

In [31]:
#3.17
a=eval(input("Enter value of a: "))
b=eval(input("Enter value of b: "))
c=eval(input("Enter a value: "))
d=a*b+c
print(d)
print()
x=eval(input("Enter word 1: "))
y=eval(input("Enter word 2: "))
z=x+" "+y
print(z)
#Because Good morning is a string
print()

Enter value of a: 2
Enter value of b: 3
Enter a value: 4
10

Enter word 1: goodmorning

NameError: name 'goodmorning' is not defined

In [32]:
a='ASCII'
b=a.count("I")
print(b)

x=eval('5')
print(x)

2
5

In [33]:
#3.18
a,b,c=3,4,5
if a<b:
    print("i) OK")
if c<b:
    print("ii) OK")
if a+b==c:
    print("iii) OK")
if a**2+b**2==c**2:
    print("iv) OK")

i) OK
iv) OK

In [34]:
#3.19
a, b, c = 3, 4, 5
if a<b:
    print("a) OK")
else:
    print("a) NOT OK")
if c<b:
    print("b) OK") 
else:
    print("b) NOT OK")
if a+b==c:
    print("c) OK")
else:
    print("c) NOT OK")
if a**2+b**2==c**2:
    print("d) OK") 
else:
    print("d) NOT OK")

a) OK
b) NOT OK
c) NOT OK
d) OK

In [35]:
#3.20
lst=['January','Feburary','March']
for i in lst:
    print(i[:3])

Jan
Feb
Mar

In [38]:
#3.21
lst=[2,3,4,5,6,7,8,9]
for i in lst:
    if i%2==0:
        print(i)

2
4
6
8

In [39]:
#3.22
lst=[2, 3, 4, 5, 6, 7, 8, 9]
for i in lst:
    if i**2%8==0:
        print(i)

4
8

In [40]:
#3.23
for i in range(2):
    print(i, end=" ")
print()    
for i in range(1):
    print(i, end=" ")   
print() 
for i in range(3,7):
    print(i, end=" ")   
print()
for i in range(1,2):
    print(i, end=" ")   
print()
for i in range(0,4,3):
    print(i, end=" ")   
print()
for i in range(5,22,4):
    print(i, end=" ")  
print()

0 1
0
3 4 5 6
1
0 3
5 9 13 17 21

In [42]:
#3.24

wordlst=input("Enter the words: ").split()
for i in wordlst:
    if i!='secret':
        print(i)

Enter the words: mia secret esa given
mia
esa
given

In [43]:
#3.25
namelst=input("Enter names: ").split()
for i in namelst:
    alphabets=['A','B','C','D','E','F','G','H','I','J','K','L','M']
    if i[0] in alphabets:
        print(i)

Enter names: Ellie, Steve, Sam, Owen, Gavin
Ellie,
Gavin

In [44]:
#3.26
numbers=input("Enter a list: ").split()
print("The first element is: ",numbers[0])
print("The last element is: ",numbers[-1])

Enter a list: 3 5 7 9
The first element is:  3
The last element is:  9

In [45]:
#3.27
n=int(input("Enter the positive integer: "))
for i in range(4):
    print(n*i)

Enter the positive integer: 34
0
34
68
102

In [3]:
#3.28
n=int(input("Enter integer: "))
for i in range(0,n):
    print(i**2)

Enter integer: 4
0
1
4
9

In [4]:
#3.29
n=int(input("Enter an integer:"))
for i in range(1,n+1):
    if(n%i==0):
        print(i)

Enter an integer:34
1
2
17
34

In [8]:
a=float(input("Enter first number: "))
b=float(input("Enter second number: "))
c=float(input("Enter third number: "))
d=float(input("Enter last number: "))
if (a+b+c)/3==d:
    print("Equal")

Enter first number: 4.5
Enter second number: 3
Enter third number: 3
Enter last number: 3.5
Equal

In [9]:
#3.31
r=8
a=0
b=0
x=eval(input("Enter the x-coordinate: "))
y=eval(input("Enter the y-coordinate: "))
point=(x-a)**2 + (y-b)**2
if point<8:
    print("It is in")

Enter the x-coordinate: 3.3
Enter the y-coordinate: 4.5

In [10]:
#3.32
x=input("Enter n: ")
x.split()
for i in x:
    print(i)

Enter n: 123456789
1
2
3
4
5
6
7
8
9

In [11]:
#3.33
def reverse_string(n):
    return n[::-1]

reverse_string('dna')

'and'

In [14]:
#3.34
def pay(hr_wage,tot_hrs):
    x=hr_wage*tot_hrs
    if tot_hrs>=40:
        y=x*1.5
        print("Emplyees wage 1.5 times is: ",y)
    else:
        print("Emplyees wage is: ",x)
pay(10,45)

Emplyees wage 1.5 times is:  675.0

In [16]:
#3.35
def prob(n):
    x=1/2**n
    return(x)
print("The probality of getting heads n times is: ",prob(3))

The probality of getting heads n times is:  0.125

In [17]:
#3.36
def reverse_int(x):
    return x[::-1]
reverse_int('123')

'321'

In [18]:
#3.38
def abbreviation(x):
    y=x[0:2]
    return(y)
abbreviation('Wednesday')

'We'

In [19]:
#3.39
from math import sqrt
def collision(x1,y1,r1,x2,y2,r2):
    center_dis=sqrt((x1-x2)**2 +(y1-y2)**2)
    if center_dis <=r1+r2:
        return True
    else:
        return False
collision(0, 0, 3, 0, 5, 3)

True

In [20]:
#3.40
def partition():
    alphabets=['A','B','C','D','E','F','G','H','I','J','K','L','M']
    x=input('Enter the list of names: ')
    y=x.split()
    for i in y:
        if i[0] in alphabets:
            print(i)
partition()

Enter the list of names: Eleanor Evelyn Sammy Owen Gavin
Eleanor
Evelyn
Gavin

In [21]:
#3.41
def lastF(F_name,L_name):
    x=F_name+' '+L_name[0]+'.'
    return (x)
lastF('Ramin','Shahid')

'Ramin S.'

In [22]:
#3.43
def hit(x_c,y_c,r_C,x_p,y_p):
    x=(x_p-x_c)**2 + (y_p-y_c)**2
    y=r_C**2
    if (x/y)<=r_C:
        return True
    else:
        return False
hit(0, 0, 3, 3, 0)

True

In [24]:
#3.43
def distance(t):
    x=(340.29)*t
    return(x) 
print("The distance is: ",distance(3/1000),"km")

The distance is:  1.0208700000000002 km